<div class="row post-images">
  <div class="col-md-12">
    <div id="carousel-post-<%= post.id %>" data-interval="false" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% post.images.each_with_index do |image, index| %>
          <% if index == 0 %>
            <div class="item active">
            <% else %>
              <div class="item ">
              <% end %>
              <%= attachment_image_tag(image, :file, :fill, 250, 250, format: "jpg") %>
              </div>
            <% end %>
            </div>
            <a class="left carousel-control" href="#carousel-post-<%= post.id %>" data-slide="prev">
              <i class="icon-prev  fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-post-<%= post.id %>" data-slide="next">
              <i class="icon-next fa fa-angle-right"></i>
            </a>
      </div>
    </div>
  </div>
